@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* about page */
.about{
  background: url('../assets/slide3.jpg') no-repeat center;
  background-color: rgb(14, 14, 14);
  background-blend-mode: overlay;
  background-size: cover;
}
/* service page */
.service{
  background: url('../assets/slide2.jpg')no-repeat center;
  background-color: rgb(16, 16, 16);
  background-blend-mode: overlay;
}
/* services component */
.services{
  background: url('../assets/slide3.jpg')no-repeat center;
  background-color: rgb(16, 16, 16);
  background-blend-mode: overlay;
}
/* contact page */
.contact{
  background: url('../assets/slide2.jpg')no-repeat center;
  background-color: rgb(16, 16, 16);
  background-blend-mode: overlay;
}