@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.services{
  background: url('../assets/slide3.jpg')no-repeat center;
  background-color: rgb(16, 16, 16);
  background-blend-mode: overlay;
  background-attachment: fixed;
}